
.snakectn{

    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}


.animatesvg{

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -9;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}