.pagediv {

    .block {

        .blockHeader:hover {
            background-color: black;
            color: white;
        }

        .blockHeader {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px;
            border: 2px solid black;

            cursor: pointer;

            svg {
                width: 50px;
                height: 50px;
            }

        }

        .blockContent {

            height: 0px;
            padding: 0px 0px;
            border: 2px solid black;
            transition: all 1s ease-in-out,

        }

    }

    display: flex;
    flex-direction: column;

    margin: 0px 5vw;

    border: 2px solid black;
    border-radius: 3px;



}


.im1{
    position: relative;

    //width: 80%;
    height: 80vh;
}


.animationG{

    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;

    .animationim{
        position: relative;

    }

    .animationtext{

    }

    .animationexample{

    }


}


.editorG{

    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .editortext{
        position: relative;

        
        

    }

    .editorim{
        position: relative;

        border: 4px solid black;
        border-radius: 3px;

        width: 100%;
        aspect-ratio: 1;

    }
}