
.colorInput{
    display: flex;
    justify-content: space-evenly;

    font-family: 'Exo 2', sans-serif;
    font-weight:600;

    

    input{
        width: 80px;
    }
}

.ctn{

    display: flex;


    .resultAnimation{
        display: flex;
        flex-direction: row;
    }
    .editor{
        display: flex;
        flex-direction: row;
    }


    .btnPannel{

        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
        //overflow-y: auto;

        list-style-type: none;
        padding: 0;

        width: 150px;

        .li1:hover{
            .ul2{
                display: block;
            }
        }

        .li1 { // Main buttons

            position: relative;

            .ul2{ // secondary buttons group

                display: none;

                list-style-type: none;
                padding: 0;
                position: absolute;
                left: 60px;
                top: 10px;
                border: 4px solid black;
                border-radius: 2px;
                background-color: white;

                z-index: 12;

                .li2:hover{
                    .ul3{
                        display: block;
                    }
                }
                
                .li2{ // secondary buttons
                    display: block;
                    position: relative;


                    .ul3{ // terzary buttons group

                        display: none;

                        list-style-type: none;
                        padding: 0;
                        position: absolute;
                        left: 100px;
                        top: 2px;
                        border: 4px solid black;
                        border-radius: 2px;
                        background-color: white;

                        z-index: 13;
                        

                        .li3{ // terzary buttons

                            background-color: white;

                            display: flex;
                            flex-direction: row;
                            place-items: center;
                            justify-content: space-between;

                            //width: 250px;

                            .divcolor2{

                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;

                                width: 100%;
                                padding: 2px 5px;

                                p{
                                    margin: 1px 0px;
                                    width: max-content;
                                    }

                                input{
                                    width: 80px;
                                }

                                

                                .divcolor3input{

                                    display: flex;
                                    flex-direction: row;
                                    padding-left: 5px;

                                    .anmColor{
                                        //background-color: yellow;
                                        width: 25px;
                                        height: 25px;
                                    }

                                }
                                

                            }

                            .divPathFollow2{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;

                                //background-color: yellow;
                                margin: 0px 2px;
                                

                                width: 300px;
                                p{
                                margin: 1px 0px;
                                }

                            }

                            .divMorpth2{

                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;

                                //background-color: yellow;
                                margin: 0px 2px;
                                

                                width: 250px;
                                p{
                                margin: 1px 0px;
                                }

                            }

                            button{
                                width: 100%;
                            }

                        }

                    }


                    button {
                        margin: 1px 0px;
                        padding: 0px;
                        border: none;
                        border-radius: 0;
                        width:120px;

                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-evenly;

                        
                    }
    
                }
            }


            button {
                background-color: white;
                color: black;

                border: solid 4px black;
                border-radius: 3px;
                margin : 5px 5px;
                padding: 10px 5px;


                font-family: 'Exo 2', sans-serif;
                font-weight:600;

                min-width: 65px;

                cursor: pointer;

                svg{
                    width: 30px;
                    height: 30px;
                }

            }

            button:hover {
                background-color: black;
                color: white;
            }
        }
    }


    .editor{
        
    }

    .result{

        background-color: white;

        margin-left: 15px;

        border: solid 4px black;
        border-radius: 3px;

    }



}


.subtitle{

    display: grid;
    place-items: center;

    color: black;

    font-family: 'Exo 2', sans-serif;
    font-size: 25px;
    font-weight:900;
}


@media screen and (max-width: 1245px) {
    .ctn{

        flex-direction: column;

        .resultAnimation{
            margin: 50px 0px;
        }
    }

}


@media screen and (max-width: 660px) {
    .ctn{

        .resultAnimation{
            flex-direction: column;
            align-items: center;
        }

        .editor{
            flex-direction: column;
            align-items: center;
        }

        .btnPannel{

            flex-direction: row;
            width: 100vw !important;
            height: auto !important;

            button{
                div{
                    display: none;
                }
            }
        }

        .result{
            margin: 0;
        }
    }

}
