


.ctn{

    display: flex;


    .resultAnimation{
        display: flex;
        flex-direction: row;
    }
    .editor{
        display: flex;
        flex-direction: row;
    }


    .btnPannel{

        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
        overflow-y: auto;


        button {
            background-color: white;
            color: black;

            border: solid 4px black;
            border-radius: 3px;
            margin : 5px 5px;
            padding: 10px 5px;


            font-family: 'Exo 2', sans-serif;
            font-weight:600;

            cursor: pointer;

            svg{
                width: 30px;
                height: 30px;
            }
        }

        button:hover {
            background-color: black;
            color: white;
        }

    
    }


    .editor{
        
    }

    .result{

        background-color: white;

        margin-left: 15px;

        border: solid 4px black;
        border-radius: 3px;

    }



}


.subtitle{

    display: grid;
    place-items: center;

    color: black;

    font-family: 'Exo 2', sans-serif;
    font-size: 25px;
    font-weight:900;
}


@media screen and (max-width: 1245px) {
    .ctn{

        flex-direction: column;

        .resultAnimation{
            margin: 50px 0px;
        }
    }

}


@media screen and (max-width: 660px) {
    .ctn{

        .resultAnimation{
            flex-direction: column;
            align-items: center;
        }

        .editor{
            flex-direction: column;
            align-items: center;
        }

        .btnPannel{

            flex-direction: row;
            width: 100vw !important;
            height: auto !important;

            button{
                div{
                    display: none;
                }
            }
        }

        .result{
            margin: 0;
        }
    }

}
